[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "==5.0.1"
black = "*"

[packages]
arcade = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
