:root {
  --primary-color: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --beige: #eae2b7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DotGothic16", sans-serif;
  /* font-family: "Kaisei Opti"; */
  background-color: rgb(249, 248, 245);
}

/* CONTENT CONTAINER */
.container {
  display: block;
  width: 600px;
  margin: 0 auto;
}

/* TITLE */
.title {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
}

.title .monster {
  display: block;
  font-family: "Sigmar One";
  letter-spacing: 0.1em;
  font-size: 2em;
}
.title .crusher {
  display: block;
  font-family: "Sigmar One";
  letter-spacing: 0.1em;
  font-size: 3em;
}

/* DIALOG */
.dialog {
  margin: 2em 1.5em;
  font-size: 2em;
}

/* STATUS CARDS */
.status-cards {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.status-cards h2 {
  font-weight: bold;
  font-size: 2em;
}

.status-cards ul {
  padding: 0;
}

.status-cards li {
  font-size: 1.5em;
  list-style-type: none;
  margin: 1em 0;
}
.status-cards li .status-title {
  font-size: 0.75em;
}
.status-cards li .points {
  font-size: 1.15em;
}

.status-cards span.points {
  font-size: 2em;
}

.yusha-card,
.monster-card {
  margin: 0.5em;
  padding: 0.75em;
  text-align: left;
  border-radius: 1.5em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  width: 35%;
  background-color: var(--yellow);
}

/* SELECTION CARD */
.selection-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding: 0.75em;
  text-align: center;
  border-radius: 1.5em;
}

.selection-card button {
  border: none;
  background-color: var(--primary-color);
  border: 3px solid var(--primary-color);
  color: white;
  padding: 0.75em 2em;
  border-radius: 3em;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "DotGothic16", sans-serif;
  /* font-family: "Kaisei Opti"; */
  min-width: 100px;
}
.selection-card button:hover {
  border: none;
  background-color: white;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  cursor: pointer;
}
.selection-card button:active {
  border: none;
  background-color: #004c75;
  color: white;
  border: 3px solid var(--primary-color);
}

/* BATTLE SCRIPT */
.battle-script {
  margin: 1em;
  padding: 1.5em;
  text-align: left;
  border-radius: 1.5em;
  background-color: var(--beige);
  box-shadow: 0 4px 4px 0 rgba(32, 29, 29, 0.2);
}
