*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* inherits from body */
}

html {
  // this defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  background-color: #fff;
  background-image: url("../img/cutout.svg");
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23eacde2' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  // order is important
  // ex. when screen is 700px, both tab-land(<1200) and tab-port(<900) apply
  // so, the sass adopts the latter one.
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12, 12/16 = 75%
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px,  9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 42%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
